@model List<Insurance>

<div class="container">
    <div class="row pt-4">
        <div class="col-6">
            <h2>
                Insurance List
            </h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Insurance" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> Create New Insurance
            </a>
        </div>
    </div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>
                    Image
                </th>
                <th>
                    Id
                </th>
                <th>
                    Name
                </th>
                <th>
                    Description
                </th>
                <th>
                    Price
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model)
            {
                <tr>
                    <td>
                        <img src="@obj.ImageUrl" height="100px" />
                    </td>
                    <td>
                        @obj.Id
                    </td>
                    <td>
                        @obj.Name
                    </td>
                    <td>
                        @obj.Description
                    </td>
                    <td>
                        $@obj.Price
                    </td>
                    <td>
                        <div class="w-75 btn-group" role="group">
                            <a asp-controller="Insurance" asp-action="Edit" asp-route-id="@obj.Id" class="btn btn-primary mx-2">
                                <i class="bi bi-pencil-square"></i>
                            </a>
                            <a asp-controller="Insurance" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-danger mx-2">
                                <i class="bi bi-trash-fill"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>